
    <ion-panen class="animated fadeInDown">
      <ion-header-bar class="bar-stable">
      <a href="index.html" class="button icon-left ion-chevron-left button-clear button-light" style="color: white;"></a>
        <h1 class="title">Check In</h1>
      </ion-header-bar>
      <ion-content class="has-header">
      </ion-content>
      <ion-list>
      <p style="margin-left: 20px;">Are you going to be using a laptop today?</p>
  <ion-radio ng-model="choice" ng-value="'A'">Yes</ion-radio>
  <ion-radio ng-model="choice" ng-value="'B'">No</ion-radio>
</ion-list>
    </ion-pane>