<!-- Home Page's Content -->
<div id="homePage">

  <!-- Image Container -->
  <div id="txtLogoContainer" class="animated fadeInDown">
    <h1 id="logo">TXT</h1>
  </div>

  <!-- Button Container -->
  <div id="buttonContainer" class=" animated fadeInDown">
    <!-- Login Button -->
    <a ui-sref="login"><button class="button button-outline button-positive ">Check In</button></a>
    <br>
    <!-- Sign Up Button -->
    <a ui-sref="signUp"><button class ="button button-outline button-positive  ">Sign Up</button></a>
  </div>

</div>